<!DOCTYPE html>
<head>
  <title>Top 5 Anything</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='list.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='list.png') }}" class="icon" />
  <h3>Top 5 Anything</h3>
  <form action="/" method="post">
    <input type="text" name="category" placeholder="Enter category" required />
    <input type="submit" value="Check" />
  </form>
  {% if result %}
  <div class="result">{{ result | safe}}</div>
  {% endif %}
</body>
